@charset "UTF-8"; 

/* Jeff Bohn 11/6/2020 */


@font-face {
    font-family: "pacifico";
    src: url('../fonts/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }
 #outerwrapper {	
    border-radius: 15%;
    background: rgba(243,205,170, 0.4);
    width: 70%;
	margin-left: auto;
    margin-right: auto;
    
}
body{
    background-image: url('../images/jewelry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
h1{
    font-family: "pacifico", cursive, Times, serif;
    font-size: 4em;
}
h2{
    font-family: "pacifico", cursive, Times, serif;
    font-weight: normal;
    font-size: 2em;
    font-style: italic;
}
main{
    background-image: linear-gradient(#FFFFFF, #F0F9E6);
    padding: 10px;
    margin: 20px;
    border-radius: 2em;
    font-size: 1.25em;
    font-family: Verdana, Arial, sans-serif;
}
img{
    float: left;
    border-radius: 90px;
}
.addrightmargin{
    margin-right: 10%;
}
nav{
    font-size: 1.5em;
    float: none;
}
ul{
    list-style-type: none;
}
ul.other{
    list-style-type: disc;
}
footer { 
    font-size: 1em;
    text-align: center;
    padding: 10px;
}